.App {
  text-align: center;
}

.App .ant-layout-content .page {
  text-align: left;
  margin: 20px;
}

.App .ant-layout-footer {
  padding: 0;
}

.App-logo {
  float: left;
  padding-right: 32px;
}

.App-menu {
  line-height: 64px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
