# api deployment
ENVIRONMENT=production
API_PORT=8030
SECRET_KEY=

RUN_MIGRATION=yes
RUN_COMPILEMESSAGES=yes
RUN_LOAD_DUMMY_DATA=no
RUN_COLLECT_STATIC=yes
RUN_DEV_SERVER=no

# django
DEBUG=False
ENABLE_DEBUG_TOOLBAR=False
ALLOWED_HOSTS=
CORS_ORIGIN_WHITELIST=
CORS_ORIGIN_REGEX_WHITELIST=
SITE_URL=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
NO_REPLY_EMAIL=
DEFAULT_FROM_EMAIL=

# database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GUNICORN_PORT=5000
GUNICORN_WORKERS=10
DATABASE_URL=

# client
REACT_APP_DJANGO_SITE_URL=
REACT_APP_DJANGO_PORT=
REACT_APP_DJANGO_API_ENDPOINT=

# external api keys
REACT_APP_CAPTCHA_API_KEY=
HERE_MAPS_API_KEY=
REACT_APP_HERE_MAPS_API_KEY=
