NODE_ENV=production
REACT_APP_DJANGO_SITE_URL=
REACT_APP_DJANGO_PORT=
REACT_APP_DJANGO_API_ENDPOINT=

DJANGO_CONFIGURATION=Prod
DJANGO_ALLOWED_HOSTS=
DJANGO_CORS_ORIGIN_WHITELIST=
DJANGO_CORS_ORIGIN_REGEX_WHITELIST=
DJANGO_SECRET_KEY=
DJANGO_SITE_URL=
DJANGO_EMAIL_HOST=
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_DEFAULT_FROM_EMAIL=

DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME
GUNICORN_PORT=5000
GUNICORN_WORKERS=2

REACT_APP_CAPTCHA_API_KEY=
HERE_MAPS_API_KEY=
REACT_APP_HERE_MAPS_API_KEY=
