{% extends "base.html" %}
{% load static crispy_forms_tags%}
{% block title %}Seismic Risc{% endblock %}
{% block content %}
{% if form_is_valid %}
<h1>Succes</h1>
Iți mulțumim pentru implicare. Un moderator va verifica ...
{% else %}
<h1>Adaugă clădire</h1>
<form action="" method="POST" novalidate="">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {% crispy building_form%}
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Adaugă">
</form>
{% endif %}
{% endblock %}