# django
django-debug-toolbar~=4.3.0
django-extensions~=3.2.3
werkzeug~=3.0.1

# tests
pytest~=8.1.1
pytest-flake8~=1.1.1
pytest-cov~=4.1.0
pytest-django~=4.8.0
faker~=24.2.0
tqdm~=4.66.2

# utils
ipython~=8.22.2

# style checker
black~=24.3.0
ruff~=0.3.2

# dependency management
pip-tools~=7.4.1

-r requirements.txt
