/* Contains CSS used in base.html and anything inherits it */


/* General */

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', 'Titillium Web', helvetica, sans-serif;
}

.seismic-logo {
    height: 70%;
    width: 70%;
}

#content {
    padding: 5%;
}


/* General */


/* Navbar */

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-nav li {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em;
    padding-right: 5%;
}

.navbar-nav li {
    text-decoration: none;
}


/* Navbar */


/* Add button */

.add-button {
    background-color: #EE741B;
    border-radius: 3px;
    font-size: 1em;
}

.add-button span {
    background: #ffffff;
    color: #EE741B;
    padding: 1.5px 4px;
    border-radius: 100%;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    margin: 40px 0 0 0;
    padding: 40px 5%;
    font-family: 'Titillium Web', sans-serif;
}

.footer-panes {
    display: flex;
}

.footer-panes .footer-left-pane {
    flex: 2;
}
.footer-panes .footer-right-pane {
    flex: 1;
}

.footer-title{
    font-weight: 600;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-links li a {
    color: #fff;
    font-size: 11pt;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-newsletter-input {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 10pt;
}
