/* Contains CSS used in base.html and anything inherits it */


/* General */

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

.seismic-logo {
    height: 70%;
    width: 70%;
}

#content {
    padding: 5%;
}


/* General */


/* Navbar */

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-nav li {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em;
    padding-right: 5%;
}

.navbar-nav li {
    text-decoration: none;
}


/* Navbar */


/* Add button */

.add-button {
    background-color: #EE741B;
    border-radius: 3px;
    font-size: 1em;
}

.add-button span {
    background: #ffffff;
    color: #EE741B;
    padding: 1.5px 4px;
    border-radius: 100%;
}


/* Add button */