.search-results {
  list-style-type: none;
  padding: 0;
}

.search-results > li {
  padding: 0.45rem 1rem;
  cursor: pointer;
}

.search-results > li > p {
  margin: 0;
}

.search-results > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}