.search-results-container {
  background: #000;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  height: 400px;
  padding: 18px;
  overflow-y: scroll;
}

.search-results {
  list-style-type: none;
  padding: 0;
}

.search-results > li {
  padding: 0.45rem 1rem;
  cursor: pointer;
  display: flex;
}

.search-results > li > p {
  margin: 0;
}

.search-results > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}