div.add-building {
  margin-top: 3rem;
  text-align: left;

  & > h2.ant-typography {
    color: $primary-color;
    font-size: 1.5rem;
  }

  & h3.ant-typography {
    font-size: 1.25rem;

    img {
      margin-right: 1rem;
    }
  }

  .ant-form-item-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .form-loading {
    text-align: center;
    height: 300px;
  }
}

.upload-btn {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #cad1d7;
  border-radius: 4px;
  color: $primary-color;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 14px;
  height: 130px;
  width: 480px;
  min-width: 100px;

  &:hover {
    border: 1px dashed $primary-color;
  }
}
