.blog-wrapper {
  min-height: 65vh;
  padding: 32px;
  width: 65%;
  margin: auto;

  @media (max-width: 1199px) {
    padding: 24px;
    width: 80%;
  }

  @media (max-width: $breakpoint-desktop) {
    padding: 24px;
    width: 90%;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 16px;
    width: 100%;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 8px;
  }
}

.blog-wrapper.loaded {
  text-align: left;
}

.load-more {
  text-align: center;
  margin-bottom: 2rem;

  button {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.blog-top {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 40px;
  h2.ant-typography{
    color: $primary-color;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  div.ant-typography{
    font-size: 1rem;
  }
}

.blog-item {
  font-family: 'Titillium Web', sans-serif;
  height: 200px;
  margin-bottom: 4rem;

  .blog-image{
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    margin-bottom: 3rem;
    height: initial;
    .blog-image{
      height: 200px;
    }
  }

  .blog-meta {
    display: flex;
    flex-direction: column;
    height: 100%;

    h3.ant-typography{
      color: $primary-color;
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    div.ant-typography{
      font-size: 1rem;
      margin-top: 1rem;
    }

    a {
      color: initial;
      display: inline-block;
      font-size: 1rem;
      margin-left: auto;
      margin-top: auto;
      text-decoration: underline;
    }
  }
}
