.blog-post-card {
  border-radius: $blog-card-radius;

  &:hover {
    background-color: #fafafa;
    & .title-container {
      border-top: 1rem solid #525f7f;
    }
  }

  .ant-card-body {
    height: 450px;
    padding: 0;
    border-radius: 2px 2px 0 0;
  }

  @each $i, $color in $card-colors {
    .card-#{$i} {
      border-top: 1rem solid $color;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .img-container {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;
  }

  .title-container {
    height: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-left-radius: $blog-card-radius;
    border-top-right-radius: $blog-card-radius;
  }
}
