.building-details {
  background: #000;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  height: 400px;
  padding: 18px;
  overflow-y: scroll;

  & .ant-row {
    margin-bottom: 18px;
  }

}

.anticon-close, h3.building-details-title {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
  margin-bottom: 22px;
}
