.ant-drawer-wrapper-body {
  background: #000;
  color: #fff;
}

.ant-drawer-body {
  font-size: 1rem;
  text-align: left;
}

.anticon-close, h3.building-details-title {
  color: #fff;
}

.ant-drawer-content-wrapper {
  width: 450px !important;
  @media (max-width: 575px) {
    width: 250px !important;
  }
}
