.building-details {
  font-style: normal;
  text-align: left;
  height: 422px;
  overflow: hidden;
  overflow-y: auto;
  &.ant-card {
    border: 1px solid rgba(228, 51, 40, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .ant-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.building-details {
  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    font-size: 16px;
    color: $text-color;
  }
}

.buildingDetailsTitle {
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 16px;
  &.ant-row-flex {
    flex-wrap: nowrap;
  }
}

.buildingDetailsTitle__text {
  margin-right: 6px;
  font-size: 20px;
}

.buildingDetailsTitle__subtext {
  font-weight: 500;
  margin-right: 6px;
  font-size: 16px;
}

.buildingDetails__contribute {
  display: flex;
  align-items: center;
  .anticon {
    color: $primary-color;
    margin-right: 8px;
  }
}

.buildingDetailsFooter {
  margin-top: auto;
}
