.App-footer {
    background-color: black;
    min-height: 350px;
    min-width: 100%;
    position: static;
    bottom: 0;

  .bottom-right {
    display: flex;
    position: absolute;
    text-align: end;
    right: 50px;
  }

  .footer-inside {
    padding: 50px 75px 75px;
    position: relative;
    height: 100%;
  }

  .copyright {
    position: absolute;
    bottom: 50px;
    right: 75px;
  }

  .ant-typography {
    color: white !important;
  }
}
