.App-footer {
    background-color: black;
    min-height: 350px;
    min-width: 100%;
    position: static;
    bottom: 0;
    
  .footer-inside {
    padding: 10px 75px 75px;
    position: relative;
    height: 100%;
  }

  .ant-typography {
    color: white !important;
  }
}
