.App-footer {
    background-color: #fff;
    width: 100%;
    position: static;
    bottom: 0;
    padding-bottom: 1.5rem;
    padding-right: 0;
    padding-left: 0;
    margin-top: auto;

  .footer-inside {
    position: relative;
    height: 100%;
  }

  .footer-links {
    align-items: center;

    & > a {
      width: 15rem;
      height: 3.5rem;
      background-color: #7BCF95;
      border-color: #7BCF95;
      border-radius: 3px;
    }
  }

  .logo-col > span {
    padding-right: $gutter;
  }

  @media (max-width: $breakpoint-tablet){
    .logos-row {
      flex-direction: column;
    }

    .logo-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-links {
      flex-direction: column;
      align-items: flex-start;

      a {
        width: 100%;
      }
    }
  }
}
