.map-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.ant-tabs {
  color: rgba($color: #000000, $alpha: 0.6);
}

.ant-tabs-nav .ant-tabs-tab {
  font-weight: bold;
}

%marker_base {
  margin: -12px 0 0 -12px;

  & svg {
    fill: #ee741b;
  }

  & svg:hover {
    cursor: pointer;
  }

  &.selected {
    > svg {
      fill: #000000;
    }
  }
}

.marker-na {
  @extend %marker_base;
  & svg {
    fill: #ff6984;
  }
}

.marker {
  @extend %marker_base;
}

[class^='marker-rs'] {
  @extend %marker_base;
  & svg {
    fill: $primary-color;
  }
}

[class^='marker-u'] {
  @extend %marker_base;
  & svg {
    fill: #ee741b;
  }
}
