// =======================
// breakpoints
// =======================
$breakpoint-desktop: 991px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 575px;

// =======================
// header
// =======================
$header-height: 64px;

// =======================
// colors
// =======================
$primary-color: #ee741b;
