// =======================
// breakpoints
// =======================
$breakpoint-desktop: 991px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 575px;

// =======================
// layout
// =======================
$gutter: 1rem;
$container-width: 1280px;

// =======================
// header
// =======================
$header-height: 120px;

// =======================
// colors
// =======================
$primary-color: #B60303;
$primary-dark: #E43328;
$primary-light: #F0A167;

$secondary-dark: #BE3386;
$secondary-main: #FF7648;
$secondary-light: #FE6262;

$green-color: #229445;

$footer-text-color: #000;
