// =======================
// breakpoints
// =======================
$breakpoint-desktop: 991px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 575px;

// =======================
// layout
// =======================
$gutter: 1rem;
$container-width: 1280px;

// =======================
// header
// =======================
$header-height: 120px;

// =======================
// colors
// =======================
$primary-color: #ee741b;
