# django
django-debug-toolbar==4.1.0
django-extensions==3.2.1
werkzeug==2.3.4

# tests
pytest==7.3.1
pytest-flake8==1.1.1
pytest-cov==4.1.0
pytest-django==4.5.2
faker==18.9.0
tqdm==4.65.0

# utils
ipython==8.13.2

# style checker
black==23.3.0

# dependency management
pip-tools==6.13.0

-r requirements.txt
