# django
django-debug-toolbar==3.7.0
django-extensions==3.2.1
werkzeug==2.2.2

# tests
pytest==7.1.3
pytest-flake8==1.1.1
pytest-cov==4.0.0
pytest-django==4.5.2
Faker==15.0.0
tqdm==4.64.1

# utils
ipython==8.5.0

# style checker
black==22.8.0

# dependency management
pip-tools==6.8.0
