# django
django-debug-toolbar==3.8.1
django-extensions==3.2.1
werkzeug==2.2.3

# tests
pytest==7.2.2
pytest-flake8==1.1.1
pytest-cov==4.0.0
pytest-django==4.5.2
faker==18.3.1
tqdm==4.65.0

# utils
ipython==8.12.0

# style checker
black==23.3.0

# dependency management
pip-tools==6.12.3

-r requirements.txt
