# django and related apps
django==4.1.7
django-environ==0.10.0
django-cors-headers==3.14.0
django-storages==1.13.2

# django admin
django-jquery==3.1.0
django-import-export==3.1.0
django-jazzmin==2.6.0

# REST framework
djangorestframework==3.14.0
drf-spectacular==0.26.1

# database
psycopg2<2.10
dj-database-url==1.3.0

# file handling
boto3==1.26.104
pillow==9.4.0
whitenoise==6.4.0

# misc libraries
tablib==3.4.0

# wsgi server
gunicorn==20.1.0
gevent==22.10.2
