name: CI

on:
  push:
    branches:
      - 'master'
    paths:
      - '**.py'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
    - name: Check formatting with black
      run: |
        black --line-length 80 --target-version py37 --exclude migrations --check ./api
